<link rel="stylesheet" href="static\css\About.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">

<!-- 活動内容 -->
<section id="About" class="About_content About-font">
    <h1 class="About-title">活動内容</h1>
    <div class="content2">
        <div class="About-Sub-cont">
            <h1 class="About-sub-title">スマイルトレーナー®とは</h1>
            <h2 class="About-catch">あなたの笑顔を整え、印象力UP</h2>
        </div>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">岩手県唯一のスマイルトレーナー</h2>
                <p>スマイルトレーナー®は、笑顔に特化したスキルアップトレーニングの資格
                    プログラムです。声や口元、目元など笑顔のパーツごとにトレーニングを行い
                    フェイシャルフィードバック効果を活かして笑顔を向上させます。対象者は
                    <strong>笑顔に自信がない方や印象を良くしたい方で、接客業やサービス業、営業、
                        婚活中の方、就活中の学生、主婦など</strong>が対象です。</p>
            </div>
            <div class="About-img">
                <div class="About_left">
                    <img class="profile-img" src="static/img/About1-1.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
                </div>
                <div class="About_right">
                    <img class="profile-img" src="static/img/About1-1-1.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
                </div>
            </div>
        </div>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">第一印象は一度きり</h2>
                <p><strong>第一印象は一度きり!</strong>印象の良い笑顔のやり方を知って、会って0.5秒で
                    ステキと思われたくないですか？どんな時でもできるように自分の顔の
                    クセを発見して、一緒にトレーニングを積み重ねて改善しましょう。
                    自分が笑っていると相手も笑ってくれます。</p>
            </div>
        </div>
        <div class="About-img">
            <div class="About_left">
                <img class="profile-img" src="static/img/About1-2-1.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 400px">
            </div>
            <div class="About_right">
                <img class="profile-img" src="static/img/About1-2.JPG" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
            </div>
        </div>
    </div>
    <div class="content2">
        <h1 class="About-sub-title">ホスピタリティ・セミナー講師</h1>
        <h2 class="About-catch">子局満足度の向上には従業員満足度を上げる!</h2>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">人間関係がスムーズに</h2>
                <p>工藤晴香は<strong>内面の強さを笑顔という表面での講師として培い、
                    楽しい講座・セミナー</strong>を提供しています。経理や人事などの
                    分野からブライダルや接客まで、広範な業種に対応し、
                    お客様と一緒に楽しい時間を過ごすことを大切にしています。</p>
            </div>
        </div>
        <div class="About-img">
            <div class="About_left">
                <img class="profile-img" src="static/img/About2-1.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
            </div>
            <div class="About_right">
                <img class="profile-img" src="static/img/About2-1-1.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 400px">
            </div>
        </div>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">社内の雰囲気やチームワークを良くしたい</h2>
                <p>顧客満足度向上には従業員満足を上げる！従業員さんが安心して
                    楽しく働いているとそれが自然にお客様に伝わります。
                    <strong>「隣の人が今よりもちょっと良い状況になる」</strong>
                    その考え方と行動の仕方を実践を交えながらレクチャー。
                    まずは、いつも一緒にいる従業員さんへ実践できるように考え方と
                    行動の仕方をレクチャーします。</p>
            </div>
        </div>
        <div class="About-img">
            <div class="About_left">
                <img class="profile-img" src="static/img/About2-2-1.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 400px">
            </div>
            <div class="About_right">
                <img class="profile-img" src="static/img/About2-2.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
            </div>
        </div>
    </div>
    <div class="content2">
        <h1 class="About-sub-title">新人研修・社員研修</h1>
        <h2 class="About-catch">社会人の心構えやビジネスマナーが定着！</h2>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">社会人としての自覚が芽生え責任ある行動</h2>
                <p>研修を受けることで、社会人としての自覚や責任感が芽生え、ビジネスマナーが定着します。ビジネスマナー研修は新入社員だけでなく、
                    働く上で最も基本的な事項を社内で共有し、新入社員を迎える際の準備にも役立ちます。
                    これにより、組織全体で<strong>一貫した心構えやビジネスマナーが浸透し、
                    円滑で効果的な業務遂行が期待されます。</strong></p>
            </div>
        </div>
        <div class="About-img">
            <div class="About_left">
                <img class="profile-img" src="static/img/About3-1.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
            </div>
            <div class="About_right">
                <img class="profile-img" src="static/img/About3-1-1.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 400px">
            </div>
        </div>
        <div class="About-content">
            <div class="About-textarea">
                <h2 class="About-sup">新入社員を迎える準備</h2>
                <p>研修や教育プログラムでは、目的や計画を明確化する必要があります。
                    なんのために行っているのかが理解できなければ、
                    新入社員は戸惑ってしまうでしょう。必要性も見出せず、
                    研修そのものにも身が入りません。
                    計画的に行わなければ研修や教育が形骸化する恐れもあります。
                    <strong>目指すべき人材を明確にイメージできるような研修・教育プログラム</strong>を
                    準備しましょう。</p>
            </div>
        </div>
        <div class="About-img">
            <div class="About_left">
                <img class="profile-img" src="static/img/About3-2-1.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 400px">
            </div>
            <div class="About_right">
                <img class="profile-img" src="static/img/About3-2.jpg" alt="プロフィール画像" sizes="(max-width: 400px) 100vw, 400px">
            </div>
        </div>
    </div>
    </div>
</section>