<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../static\css/index.css">
</head>
<body>

<header>
<h1>h.k smile offce</h1>
<nav>
    <ul>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">活動内容</a></li>
        <li><a href="#">ご依頼の流れ</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
</nav>
</header>





<footer>
    <li><a>h.k smile office</a></li>
    <li><a>工藤晴香（くどう はるか）</a></li>
    <li>連絡先　<a href="mailto:hksmileoffice@gmail.com">hksmileoffice@gmail.com</a></li>
    <li><a href="#">お問い合わせはこちら</a></li>
    <a href="#">instagram</a>
    <a href="#">facebook</a>
</footer>

</body>
</html>