<head>
<link rel="stylesheet" href="static\css\Profile.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
<!-- プロフィール -->
<section id="Profile" class="profile_content">
    <h1 class="profile-title">プロフィール</h1>
    <div class="content1 profile-font">
        <div class="content1_left">
            <h2 class="profile-name ">工藤晴香(くどう はるか)</h2>
            <img class="profile-img" src="static/img/profile.jpg" alt="プロフィール画像" sizes="(max-width: 440px) 100vw, 560px">
        </div>
            <div class="content1_right">
                <div class="text">
                    <h2 class="profile-sup">資格</h2>
                    <p class="profile-dex">スマイルトレーナー®</p>
                    <p class="profile-nom">JHMA認定ホスピタリティコーディネータ</p>
                    <p class="profile-nom">専門学校非常勤講師・秘書検定2級</p>
                    <p class="profile-nom">(公財)岩手県生活衛生指導センター 専門アドバイザー</p>
                    <p class="profile-nom">(公財)岩手県青少年育成県民会議 講師</p>
                </div>
            </div>
    </div>
    <div class="content2 profile-font">
        <h2 class="profile-sup">略歴</h2>
        <div class="profile-textarea">
            <p>最初のアパレルの会社に就職、研修を受けて東北の人はリーダーを目指す人がいなかった、
                自己表現が他県に少ない謙虚な人が多い。アパレルの会社で<strong>褒められていた
                ことが笑顔</strong>だった。大学病院でも笑顔で頑張っている人がいた。
                それを踏まえて<strong>ホスピタリティが重要だ</strong>と考え、活動中。</p>
        </div>
    </div>
        <div class="content3 profile-font">
        <h2 class="profile-sup">実績</h2>
        <div class="profile-textarea">
        <div class="content3_a">
            <h3 class="profile-h3">■笑顔講座</h3>
            <p class="profile-p">岩手県生活衛生指導センター後継者育成塾、愛知県生活衛生指導センター、台温泉協同組合、広告会社、自動車整備業、遊技業、
                結婚式場、ホテル・旅館、飲食店、サークル活動</p>
        </div>
        <div class="content3_b">
            <h3 class="profile-h3">■ホスピタリティレッスン</h3>
            <p class="profile-p">エンジニアリング商社、ガス・石油取扱い業</p>
        </div>
        <div class="content3_c">
            <h3 class="profile-h3">​■新入社員研修、ビジネスマナー研修</h3>
            <p class="profile-p">商工会議所新入職員研修、土木建設業、石材業</p>
        </div>
        <div class="content3_d">
            <h3 class="profile-h3">■コンサルティング、販促支援</h3>
            <p class="profile-p">ホテル・旅館、飲食店、理美容、クリーニング店</p>
        </div>
        <div class="content3_e">
            <h3 class="profile-h3">■メディア出演</h3>
            <p class="profile-p">NHK盛岡「Iwateen」（面接対策）、「あさイチ」（温泉紹介）
                ​​テレビ岩手「ニュースプラスワン 特集」</p>
        </div>
        </div>
    </div>
</section>