<link rel="stylesheet" href="static\css\Top.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">

<!-- TOP -->
<section id="TOP" class="Top-content">
    <div class="Top-background">
        <img src="static/img/Top-background.jpg" alt="Top画像">
    </div>
    <div class="Top-link-list">
        <ul class="list js-fade-scroll">
        <li class="item js-fade-scroll-item fadeInDown"><a class="link" href="#Profile">
            <div class="card">
                <div class="img"><img src="static/img/Profile-top.jpg" alt="プロフィール Profile"></div>
                <div class="ttl">プロフィール</div>
                <div class="txt">Profile</div>
            </div></a></li>
        <li class="item js-fade-scroll-item fadeInDown"><a class="link" href="#About">
            <div class="card">
                <div class="img"><img src="static/img/About-top.jpg" alt="活動内容 About"></div>
                <div class="ttl">活動内容</div>
                <div class="txt">About</div>
            </div></a></li>
        <li class="item js-fade-scroll-item fadeInDown"><a class="link" href="#Request">
            <div class="card">
                <div class="img"><img src="static/img/Request-top.jpg" alt="依頼の流れ Request"></div>
                <div class="ttl">依頼の流れ</div>
                <div class="txt">Request</div>
            </div></a></li>
        </ul>
    </div>
    <div class="fixed-button">
        <a href="#Request" class="img-Request">
            <img src="static/img/Requst-button.png" decoding="async" alt="お問い合わせ">
        </a>
    </div>
</section>