<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="workflow">
    <h1>ご依頼までの流れ</h1>
    <nav>
      <div>連絡</div>
      <div>相談</div>
      <div>研修・セミナー</div>
    </nav>
    <h1>研修・セミナー一覧</h1>
    <nav>
      <div>スマイルトレーニング®(笑顔講座)</div>
      <div>ホスピタリティレッスン</div>
      <div>社員研修</div>
    </nav>
  </div>
</body>
</html>
